<!-- Compiled and minified JavaScript -->
<footer>
    <a class ="waves-effect amber waves-light btn" href="/products/"><span class="purple-text darken-3">GO HOME</span></a> 
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>