<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <%- include('./partials/head.ejs')%>
    <body class ="#ede7f6 deep-purple lighten-5">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1 class="h1-new">Add A New Cider</h1>

    <form action="/products" method="POST">
        <span class="bolded">Name:</span><input type="text" name="name"/><br/>
        <span class="bolded">Description:</span><input type="text" name="description"/><br/>
        <span class="bolded">Price:</span><input type="number" name="price"/><br/>
        <span class="bolded">Qty:</span><input type="number" name="qty"/><br/>
        <span class="bolded">Image:</span><input type="text" name="img"/><br/>

        <input class ="waves-effect waves-light btn" type="submit" name="" value="Add Product"/>
        

    </form>
    <%- include('./partials/footer.ejs')%>
    </body>
</html>